<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <CheckVersion>
    <Folders>
      <Folder path="" every=""></Folder>
      <Folder path="" every=""></Folder>
    </Folders>
  </CheckVersion>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>